@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.backgroundImage {
    background: linear-gradient(to right, #714DFF, #9C83FF, #E151FF, #FFF759);
   background-clip: text;
    -webkit-text-fill-color: transparent;
}
.back-background{
    background-image: url("../../public/images/Home\ Pagebg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.bgcard{
    background-image: url("../../public/images/bggrid.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }





 #flip {
  height: 50px;
  overflow: hidden;
  display: inline-block;
}

#flip > div {
  display: flex;
  flex-direction: column;
  animation: flip 5s linear infinite;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
}

#flip div div:nth-child(1) {
  background-color: #4ec7f3;
}
#flip div div:nth-child(2) {
  background-color: #42c58a;
}
#flip div div:nth-child(3) {
  background-color: #dc143c;
}
#flip div div:nth-child(4) {
  background-color: #ff7eb3;
}
#flip div div:nth-child(5) {
  background-color: #9b51e0;
}

@keyframes flip {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-45px);
  }
  40% {
    transform: translateY(-90px);
  }
  60% {
    transform: translateY(-135px);
  }
  80% {
    transform: translateY(-180px);
  }
  100% {
    transform: translateY(0);
  }
}


